*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --text-color: rgba(0, 68, 255, 0.822);
    --bg-url: url(./assets/download\ \(1\).jpg);
    --stroke-color: rgba(0,145, 255, 0.734);
    --surface-color: black;
    --surface-color-hover: rgba(0,0,0,0.02);
    --highlight-color: rgba(255,255,255,0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light{
    --text-color: rgba(0, 68, 255, 0.822);
    --bg-url: url(./assets/download\ \(1\).jpg);
    --stroke-color: rgba(0, 145, 255, 0.734);
    --surface-color: white;
    --surface-color-hover: rgba(0,0,0,0.02);
    --highlight-color: rgba(0,0,0,0.1);
    --switch-bg-url: url(./assets/sun.svg);
    
}

body{
  /* background-image: url(./assets/bg-mobile.jpg);
   background-repeat:no-repeat;
   background-position: top center;
   background-size: cover;
   apenas colocamos tudo junto.
   */
   /* background: color image no repeat/size*/
   background: var(--bg-url) no-repeat top center/cover;
}

body * {
    font-family: 'inter', sans-serif;
    color: var(--text-color);
}

#container {
   width:360px;
   
    /*border: 1px solid red;
    nesse momento em que coloquei o margin, eu tiro a borda.
    */
   /* margin-right:auto;
    margin-left:auto;
    so o margin ja faz o trabalho desses dois, 
    mas ele tambem preenche em cima e em baixo
     */
    /*margin-top:56px;
    margin-bottom: auto;
    margin-left:auto;
    margin-right:auto;
    o margin faz como um relógio
    ex:56 cima, auto direita, 0 baixo, auto esquerda */
    
    margin: 56px auto 0px ;
    padding:0 24px;

}

#profile {
    text-align:center;
    padding: 24px;
}


#profile img {
    width:112px;
    
   
   
}
#profile p{
    font-weight:500px;
    font-size:16px;
    line-height:24px;
    margin-top: 8px;

}
#switch{
    position: relative;
    width: 64px;
   margin: 4px auto;
}

#switch button{
    width: 32px;
     height: 32px;
    background-color: white;
    background-image: var(--switch-bg-url);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.light #switch button{
    right: 0;
    left: initial;
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/*links */
ul {
   /*tira os pontinhos do lado dos links*/
    list-style: none;
   display:flex;
   flex-direction: column;
   gap: 16px;
   padding: 24px 0;
}

ul li a {
    
    display:flex;
    /* o align-items alinha as escritas ao centro da linha/como se fosse um eixo x ali dentro da caixinha*/
    align-items: center;
   /*meio do eixo y da pagina*/
    justify-content: center;
    background: var(--surface-color);
    border:1px solid var(--stroke-color);
    border-radius: 8px;
   /*arredondamento de borda*/
   backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px);
   /*o webkit é tipo um suporte para alguns brownsers que nao aceitam esse comando*/
   text-decoration: none;
   /*tirou a linha abaixo do link*/
   font-weight: 500;
   padding: 16px 24px;
    /*height:52px;
    Por que padding é melhor nesse caso?
Mais flexível: Se o conteúdo mudar de tamanho (por exemplo, texto maior), o botão ou caixa se ajusta.
Evita corte de conteúdo.
Ajuda no design responsivo (adaptável a diferentes telas).
Facilita centralizar o conteúdo verticalmente.*/

transition: background 0.2s;
}

/*pseudo-selector
esse comando quando passamos a mao em cima dos links, muda o background*/
ul li a:hover {
    background: var(--surface-color-hover);
    border:1.5px solid var(--text-color);
}

/*social-links*/
#social-links{
    display: flex;
    justify-content: center;
    /*gap de 32 pq a box do elemento tem um espaçamento de 16 alem do item e mais 16 de distancia entre um elemento e outro*/

    padding: 24px 0;

    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:16px;
border-radius: 50%;
    transition: background 0.2s;
}

#social-links a:hover {
    background:var(--highlight-color) ;
}

footer{
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}
